<% layout('layouts/boilerplate') %>

<h1 class="text-center mt-5">Forgot Password</h1>

<div class="row mt-3">
  <div class="col-6 offset-3">
    <form action="/forgot-password" method="POST">
      <div class="mb-3">
        <label for="email" class="form-label">Enter your email address</label>
        <input type="email" class="form-control" name="email" required>
      </div>
      <button type="submit" class="btn btn-primary">Send Reset Link</button>
    </form>
  </div>
</div>
