<% layout('layouts/boilerplate') %>

<h1 class="text-center mt-5">Reset Password</h1>

<div class="row mt-3">
  <div class="col-6 offset-3">
    <form action="/reset-password/<%= token %>" method="POST">
      <div class="mb-3">
        <label for="newPassword" class="form-label">New Password</label>
        <input type="password" class="form-control" name="newPassword" required>
      </div>
      <button type="submit" class="btn btn-success">Set New Password</button>
    </form>
  </div>
</div>
